.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

.error {
    width: 300px;
    color: red;
}

.text-center {
    text-align: center;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.mat-tab-label-content {
    color: #fff !important;
}

.mt-25 {
    margin-top: 25px;
}

.text-danger {
    color: red;
}

.font-weight-bold {
    font-weight: 600;
}