<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>ToDo App - <small>RocketLab</small></span>
        <span class="example-spacer"></span>
        <button mat-icon-button color="accent" matTooltip="Notificaciones" aria-label="Example icon-button with a heart icon" [matMenuTriggerFor]="belowMenu"> 
            <mat-icon>notifications_none</mat-icon>
            <span class="square-8 bg-danger pos-absolute t-15 r-5 rounded-circle"></span> 
        </button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
            <mat-list role="list">
                <mat-list-item role="listitem" class="list-item" *ngFor="let item of notifications">{{ item.notification }} {{ item.list }} </mat-list-item>
            </mat-list>
        </mat-menu>
        <button mat-icon-button color="accent" matTooltip="Cerrar sesion" (click)="authService.signOut()"> 
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Salir">power_settings_new</mat-icon> 
        </button>

    </mat-toolbar-row>
</mat-toolbar>