::ng-deep body {
    background-color: #eee !important;
}

.card {
    display: flex;
    justify-content: center;
}

.example-card {
    margin-top: 35px;
    width: 600px;
    max-width: 600px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

mat-card-content {
    margin-top: 30px;
}

::ng-deep .mat-card-header-text {
    /* CSS styles go here */
    margin: 0px !important;
}